@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo a Triad Games</h1>
    <br />
    <div class="px-3 text-center text-justify">
        <p><h5>Um ambiente criado de gamer para gamer, aqui você poderá ver a nota dos principais games do momento de maneira fácil e acessível para todos, usuários cadastrados poderão editar e criar novos tópicos enriquecendo ainda mais nossa comunidade.</h5></p>
        <br />
        <p><h5>Cansados de investirem dinheiro em games que não valem a pena em um cenário cada vez mais caro, a equipe de desenvolvedores se unificou em um único projeto com o intuito de avaliar os principais lançamentos para que a comunidade tenha uma avaliação em formato de notas numéricas de 0 a 100 para que cada usuário possa repensar se adquirir o produto de determinada produtora realmente compensa, ou se aquele dinheiro pode ser repensando para fazer algum outro projeto ou compra.</h5></p>
        <br />
        <p><h5>Venha fazer parte da Família Triad Games e juntos compartilhar nossas experiências na maior comunidade gamer do Brasil. </h5></p>
    </div>
</div>
