@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<div>
    <br />
    <p>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a diam vel arcu dignissim semper. Mauris et ultrices ligula. Cras tristique, augue eget varius tempor, risus velit vestibulum odio, eu rhoncus lacus eros quis nisl. Sed tristique diam sit amet neque feugiat feugiat. Sed vestibulum vestibulum neque, sit amet hendrerit odio tincidunt sed. Nunc et ipsum quis eros finibus sollicitudin. Donec placerat ornare diam, nec dictum quam mollis eget.
    </p>

    <p>

    Quisque fermentum lectus volutpat odio lobortis ultricies. Donec sit amet ante pellentesque, euismod massa a, pretium tortor. Cras hendrerit lobortis accumsan. Integer consequat dapibus eros sit amet finibus. Nullam bibendum, eros eget suscipit varius, metus magna egestas augue, a malesuada nunc libero eget justo. Quisque bibendum nisi nec ullamcorper tempor. Suspendisse congue mollis risus, accumsan rutrum sapien lobortis nec. Fusce consectetur magna a nulla egestas, non pulvinar metus feugiat.
    </p>

    <p>

    Suspendisse potenti. Proin rhoncus felis et lacus dictum tristique. Nam eget posuere orci, eu scelerisque quam. Mauris volutpat lacinia ultrices. Praesent faucibus ornare nibh eu feugiat. Mauris condimentum imperdiet libero sed posuere. Duis velit elit, consectetur vel tincidunt at, pellentesque vel urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris lacinia interdum diam at iaculis. Nullam nec scelerisque massa. Cras ut nisi eros. Sed placerat est vitae gravida congue.
    </p>

    <p>

    Aliquam non nulla non erat consequat sagittis. Nulla eu odio eu mauris pellentesque porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse tincidunt, massa eget scelerisque dignissim, ipsum nunc ornare ligula, vel tincidunt nibh dui quis diam. Nam nec orci auctor, pellentesque mi ut, ultrices sapien. Nullam eget ipsum consequat, suscipit odio ut, rhoncus mi. Sed scelerisque odio ut leo luctus, vel pulvinar tortor molestie. Etiam finibus odio quis nunc placerat bibendum et nec diam. Vivamus placerat, lorem sed consequat lacinia, elit nisl efficitur nisl, a placerat est orci luctus massa.
    </p>

    <p>

    Proin nec accumsan magna. Phasellus malesuada odio id magna fermentum bibendum. Cras viverra, turpis id molestie lacinia, arcu urna mollis leo, quis viverra ligula urna vitae massa. Donec sit amet orci sit amet velit tincidunt tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque mattis, tellus id pellentesque facilisis, lorem libero fringilla felis, vitae posuere libero mauris in odio. Proin vestibulum suscipit quam, a gravida elit cursus et. Etiam id ultricies justo. Nam mattis rutrum tempor. Curabitur suscipit elit ut tellus interdum, ut ultricies leo imperdiet. Quisque sem erat, hendrerit ut nisl sed, eleifend hendrerit elit. Curabitur sed auctor magna, id convallis augue.
    </p>
</div>
